.l-head {
    padding: 20px 0;
    // position: absolute;
    background: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    &.sticky {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        // animation: slideDown 0.3s ease-out;
    }
    .menu-list {
        gap: 36px;
        .text {
            margin-bottom: 0;
            a {
                transition: .1s;
                &:hover {
                    color: $primary-color
                }
            }
        }
    }
    .logo {
        position: relative;
        z-index: 99;
    }
    @include media-breakpoint-up(xl) {
        .btn {
            border-color: transparent;
        }
    }

    .container .row .col-12 {
        @include media-breakpoint-down(xl) {
            justify-content: space-between;
        }
    }

    .hamburger {
        position: relative;
        z-index: 99;
        .icon {
            position: relative;
              width: 60px; 
            height: 60px;
              fill: $body-color;
              stroke-width: 6;
              stroke-linecap: round;
              stroke-linejoin: round;
            cursor: pointer;
            stroke: $body-color;
          }
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        transition: left .4s ease-in;
        z-index: 70;
        &.open {
            left: 0;
        }
        height: 100vh;
        background-color: #fff;
        width: 100%;
        padding-top: 90px;
        flex-direction: column;
        justify-content: space-between;
        &__main {
            border-top: 1px solid #f4f4f4;
            padding: 20px;
            ul {
                .text {
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__bottom {
            padding: 20px;
            border-top: 1px solid #f4f4f4;
            .dual-btn {
                .btn {
                    width: 100%;
                    margin: auto;
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}


