.btn {
    padding: 10px 30px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    transition: .3s;
    box-shadow: $box-shadow;
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
    }
    &--link {
        box-shadow: none;
    }
    &--correct {
        background: #fff !important;
    }
    &--white {
        background: #fff !important;
        color: $primary-color !important;
        .btn__text {
            color: $primary-color !important;
            transition: $trans ease;
        }
        &:hover, &:focus, &:active {
            background-color: $hover-color !important;
            color: #fff;
            .btn__text {
                color: #fff !important;
            }
        }
    }
    &--primary, &--search {
        background-color: $primary-color;
        &:hover, &:focus, &:active {
            background-color: $hover-color !important;
        }
    }
    &--correct, &--incorrect {
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        img {
            margin-right: 12px;
        }
    }
    &--correct {
        background-color: #28A745 !important;
        border-color: #28A745 !important;
    }
    &--incorrect {
        background-color: #DC3545 !important;
        border-color: #DC3545 !important;
    }
    &--primary,  &--correct, &--incorrect {
        color: #fff !important;
        .btn__text {
            color: #fff !important;
        }
    }
    &--search {
        background-size: 18px 18px;
        background-repeat: no-repeat;
        height: 58px;
        width: 58px;
        border: none !important;
        background-position: center center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.input {
    background-color: #FFFFFF;
    border-radius: $radius;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    border: none;
    &::placeholder {
        color: #999999;
    }
    &--search {
        padding: 13px 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.dual-btn {
    gap: 24px;
    @include media-breakpoint-down(sm) {
        .btn {
            width: 100%;
            &:first-child{
                margin-bottom: 24px;
            }
        }
    }
}