$primary-color: #007BFF;
$secondary-color: #F0F8FF;

$correct-color: #28A745;
$incorrect-color: #DC3545;

$hover-color: #005AA1;
$radius: 10px;
$trans: .4s;
$base-font: 16px;
$body-color: #0e1318;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);